# Ignore .ipynb_checkpoints directories created by Jupyter
.ipynb_checkpoints/

/.vs
/__pycache__
/MathsMechInterp/__pycache__
/Tests/__pycache__
/MathsMechInterp/MathsTestQuestions/__pycache__
/env
/env1
